@model List<WebApplication1.Dominio.Entidades.Usuario>

@if (ViewBag.NuevoUsuarioCreado)
{
    <h2 class="alert-success well">Excelente! Usuario creado.</h2>
}

@if (Model.Count == 0)
{
    <h3 class="alert-info well">
        No hay usuarios registrados.
        <a href="/Usuarios/Crear">Crealo!</a>
    </h3>
}
else
{
    <h3>
        <a href="/Usuarios/Crear">Crea nuevos usuarios.</a>
    </h3>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in Model)
                {
                    <tr>
                        <td>
                            @usuario.Nombre
                        </td>
                        <td>
                            @usuario.Apellido
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}